html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  background-color: black;
  color: white;
}

form {
  display: flex;
}

form>div {
  display: flex;
  flex-direction: column;
}