html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.odin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('leaves.jpg');
  width: 40vw;
  height: 100vh;
}

header {
  width: 100%;
  background-color: hsla(0, 0%, 16%, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

img {
  max-width: 5rem;
  height: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: 100vh;
}

form {
  display: flex;
}

form>div {
  display: flex;
  flex-direction: column;
}
