html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.odin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('leaves.jpg');
  width: 40vw;
  height: 100vh;
}

header {
  width: 100%;
  background-color: hsla(0, 0%, 16%, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: white;
}

img {
  max-width: 5rem;
  height: auto;
}

.content-container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  height: 100vh;
}

.content-container>div {
  border-radius: 5px;
  margin-right: 10px;
  background-color: hsla(0, 0%, 16%, 0.03);
  max-width: 30vw;
}

form>div {
  border-radius: 5px;
  display: flex;
  gap: 10px;
}

form>div>div {
  display: flex;
  flex-direction: column;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  border-radius: 5px;
}

button:hover {
  background-color: royalblue;
}

p {
  border-radius: 5px;
  background-color: hsla(0, 0%, 16%, 0.03);
  max-width: 30vw;
}